body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 38px;
    height: 38px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    color:#999;
    font-size: 13px;
}
.question-title{
    margin-top: 25px;
}
.jumbotron{
    margin: 50px;
}
.media-body {
     padding-top: 10px;
 }
.comment{
    margin: 10px 0;
}
.reply{
    float: right;
    margin-bottom: 10px;
}
.comment-sp{
    margin-top: 0;
}
.comment-menu{
    display: block;
    margin-bottom: 15px;
    margin-top: 6px;
    color: #999;
}
.comment-menu .icon{
    font-size: 15px;
    margin-right: 6px;
    cursor: pointer;
}
.comment-menu .active{
    color: #499ef3;
}
.comment-menu .icon:hover{
    color: #499ef3;
}
.comments{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.sub-comments{
    border-radius: 5px;
    border: 1px solid #eee;
    margin-top:14px;
    margin-bottom: 15px;
    padding-top: 15px;
}
.sub-comments .btn{
    margin: 10px 0;
}
.label-info{
    float: left;
    margin-left: 10px;
}
.question-related{
    padding-left: 0;
    list-style: none;
}
.question-related li{
    margin-bottom: 11px;
}
.img-thumbnail{
    height: 200px;
    width: 200px;
}
.second-count{
    font-size: 9px;
    margin-left: 18px;
    margin-top: -14px;
    display: block;
}
.question-tag {
    margin-right: 5px;
}
.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}
.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}
.community-tag:hover {
    background-color: #339dff;
    color: #fff !important;
    text-decoration-line: none;
}

.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}
.footer{
    padding: 10px 30%;
    color: #666;
}